<launch>
    <!-- Unique Robot name -->
    <arg name="ns" default="/kulbabu" />
    <arg name="world" default="default" />
    <arg name="robot" default="kulbabu" />

    <arg name="use_gazebo"    default="false" />
    <arg name="use_ekf"       default="false" />
    <arg name="use_twowheels" default="true" />
    <arg name="publish_tf"    default="false" />

  <!-- URDF robot description -->
  <param name="$(arg ns)/robot_description" command="$(find xacro)/xacro.py '$(find kulbu_description)/urdf/$(arg robot).xacro' ns:=$(arg ns)" />

  <!-- Real hardware -->
  <include if="$(arg use_wheels)" file="$(find kulbu_hardware)/launch/kulbabu_hardware.launch">
    <arg name="ns" value="$(arg ns)" />
  </include>

  <!-- ROS control -->
  <include file="$(find kulbu_control)/launch/kulbu_control.launch">
    <arg name="ns" value="$(arg ns)" />
  </include>

</launch>
