<launch>
  <!-- Unique Robot name -->
  <arg name="ns" default="/kulbu" />
  <arg name="world" default="default"/>

  <!-- URDF robot description -->
  <param name="$(arg ns)/robot_description" command="$(find xacro)/xacro.py '$(find kulbu_description)/urdf/kulbu.xacro' ns:=$(arg ns)" />

  <!-- Gazebo simulator -->
  <include file="$(find kulbu_gazebo)/launch/load_world.launch">
    <arg name="ns" value="$(arg ns)" />
    <arg name="world" value="$(arg world)" />
  </include>

  <!-- ROS control -->
  <include file="$(find kulbu_control)/launch/kulbu_control.launch">
    <arg name="ns" value="$(arg ns)" />
  </include>

</launch>
